<div class="lwn-footer-top bg-navy">
    <div class="row property">
        <div class="medium-3 columns">
            <div class="learn-links">
                <h3>Reporter</h3>
            </div>
        </div>

        <div class="medium-3 columns">
            <div class="learn-links">
                <h3>Photographer</h3>
            </div>
        </div>

        <div class="medium-3 columns">
            <div class="support-links">
                <h3>Videographer</h3>
            </div>
        </div>

        <div class="medium-3 columns">
            <div class="connect-links" style="border-right: 1px solid rgba(255, 255, 255, 0.2);">
                <h3>Designer</h3>
            </div>
        </div>
    </div>
</div>

<div class="lwn-footer-bottom">
    <div class="row">
        <div class="medium-4 medium-4 push-8 columns">
            <ul class="home-social">
                <li><a href=
                "https://twitter.com/Lakeshore_Wkly"><i class="fa fa-twitter-square fa-2x"></i></a></li>

                <li><a href=
                "https://www.facebook.com/lakeshoreweeklynews"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="medium-8 medium-8 pull-4 columns">
            <ul class="lwn-links" style="margin-left:-11px;">
                <!-- <li><a href="#">Subscribe</a></li> -->

                <li><a href=
                "http://www.weeklynews.com/main.asp?SectionID=19&amp;SubSectionID=19&amp;ArticleID=7325&amp;TM=43686.3">
                Contact</a></li><!-- <li><a href="#">FAQ</a></li> -->

                <li><a href=
                "http://www.weeklynews.com/Formlayout.asp?formcall=userform&amp;form=3">
                Advertise</a></li>
            </ul>

            <p class="copyright">Copyright © 2013 www.weeklynews.com.
            All rights reserved.</p>
        </div>
    </div>
</div>